
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Index</h1>
    <div>
        <p>
            //http://localhost:54398/Home/API
            @Html.ActionLink("Currency API", "Currency", "APITest")
        </p>
    </div>
</body>
</html>
