@model QuickType.CurrencyConverter

<style>
    #currencies {
        border-collapse: collapse;
        width: 50%;
    }

    #currencies td, #currencies th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #currencies tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #currencies tr:hover {
        background-color: #ddd;
    }

        #currencies th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #474949;
            color: white;
        }

</style>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Currency</title>
</head>

<h1>Currency</h1>

<table id="currencies">
    <tr>
        <th>Currency</th>
        <th>Rate</th>
    </tr>

    @foreach (var item in Model.Rates)
    {
        string s = item.ToString().Substring(1, item.ToString().Length - 2);
        string[] sArr = s.Split(',');

        <tr>
            <td>@sArr[0]</td>
            <td>@string.Format("{0:0.00}", double.Parse(sArr[1]))</td>
        </tr>
            
    }
</table>

<br />
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
