@model QuickType.CurrencyConverter

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Currency</title>
</head>
<body>
    <h1>Currency</h1>
    <div>
        <ul>
            @foreach (var item in Model.Rates)
            {
                <li>@item.ToString()</li>
            }
        </ul>

    </div>
</body>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>


</html>
