@model QuickType.DuckDuckGo
@using System.Text.RegularExpressions

@{
    ViewBag.Title = "DuckDuckGo";
}

<style>
    div.container {
        padding: 2px 16px;
        max-width: 100%;
        overflow-wrap: break-word;
        text-overflow: ellipsis;
    }
    a:after {
        content: '\A';
        white-space: pre;
    }
</style>

<h2>DuckDuckGo</h2>
<div>
    @foreach (var item in Model.RelatedTopics)
    {
        if (item.Result != null)
        {

            <div class="card">
                <div class="container">
                    @Html.Raw(HttpUtility.HtmlDecode(item.Result))
                    @if(@item.Icon.Url != "")
                    {
                        <img src="@item.Icon.Url" alt="@item.Text" class="center-block" width="30%" height="30%">
                    }
                </div>
            </div>
            <br />
        }
    }


</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>

