<h1> Oops! </h1>
<legend> Something went wrong!</legend>

<div>

    <text>@ViewBag.Message</text>
    <a href="@ViewBag.Link"> Try Again!</a>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
