
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>API Index</h1>
    <div>
        <h3>
            APIs
        </h3>

        <div class="btn-group-vertical">
            <a class="btn btn-primary" href="/API/WeatherForm">Weather</a>
            <a class="btn btn-primary" href="/API/News">News</a>
            <a class="btn btn-primary" href="/API/Marshall">Marshall Events</a>
            <a class="btn btn-primary" href="/API/DuckDuckGoForm">DuckDuckGo</a>
            <a class="btn btn-primary" href="/API/CurrencyForm">Exchange Rate</a>
            <a class="btn btn-primary" href="/API/StocksForm">Stocks</a>

        </div>

        <h3>
            Auto Parameter APIs
        </h3>

        <div class="btn-group-vertical">
            <a class="btn btn-primary" href="/API/Weather">Weather</a>
            <a class="btn btn-primary" href="/API/DuckDuckGo">DuckDuckGo</a>
            <a class="btn btn-primary" href="/API/Currency">Exchange Rate</a>
            <a class="btn btn-primary" href="/API/Stocks">Stocks</a>
        </div>

        <h3>
            <br />
            Home
        </h3>
        <a class="btn btn-default" href="~/Home/Index">Home</a>
    </div>
</body>
