<h2>Get Stock Details</h2>

<div>
    <form action="@Url.Action("Stocks", "API")" method="get">
        <div class="form-group">
            <label for="stock">Stock Details</label>
            <input type="text" class="form-control" name="stockIdentifier" id="stockIdentifier" aria-describedby="stockHelp" placeholder="Enter Stock Symbol">
            <small id="stockHelp" class="form-text text-muted">Enter a symbol to get stocks! </small>
        </div>

        <button type="submit" class="btn btn-primary"> Get Stock Details</button>
    </form>
</div>

<br />
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
