@model IEnumerable<CS481WebApp.Models.Comment>

<style>
    div.container {
        padding: 6px 16px;
        max-width: 100%;
        overflow-wrap: break-word;
    }
</style>

<h1>Comments</h1>
<br />

@foreach (var item in Model)
{
    <div class="card">
        <div class="container">
            <p>@Html.DisplayFor(modelItem => item.Body)</p>
        </div>
    </div>
    <br />
}

@Html.ActionLink("Back to list", "Index")

