
@{
    ViewBag.Title = "API";
}

<h2>API Homepage</h2>
<body>

    <div class="btn-group-vertical">
        <a class="btn btn-primary" href="~/Home/WeatherJS">Weather</a>
        <a class="btn btn-primary" href="~/Home/FeedJS">Events</a>
        <a class="btn btn-primary" href="~/Home/News">News</a>
        <a class="btn btn-primary" href="~/Home/Exchange">Exchange Rate</a>
    </div>

    <h3>Select API</h3>
    <select name="selectAPI" onchange="location = this.value;">
        <option value="">Select API</option>
        <option value="~/Home/WeatherJS"> Weather API</option>
        <option value="~/Home/FeedJS">Events API</option>
        <option value="~/Home/News">News API</option>
        <option value="~/Home/Exchange">ExchangeRate API</option>
    </select>

</body>