@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CS 481</h1>
    <p class="lead">Project for CS 481 in 2019.</p>
    <p>
        <ul>
            <li> Brody </li>
            <li> Jason </li>
            <li> Wenxuan </li>
            <li> Olivia </li>
        </ul>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>APIs</h2>
        <p>
            @Html.ActionLink("API", "Index", "APITest")
        </p>

    </div>
    <div class="col-md-4">
        <h2>Blogs</h2>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>