
@{
    ViewBag.Title = "News";
}

<h2>News API</h2>

<p id="title"></p>
<p id="description"></p>
<p id="content"></p>
<p id="url"></p>

<!--<button>Get News</button>


    Using CSS button to call JS function now
    --->
<a class="btn btn-primary" name="newsBtn">Get News</a>

<script>
    var count = 0;
    $(document).ready(function () {
        $("a").click(function () {
            $.get("https://newsapi.org/v2/everything?sources=cnn&apiKey=d3873b1722a64a9687bcccb299e06a84", function (response) {
                //response
                console.log(response);
                $("#title").text("Title: " + response.articles[count].title);
                $("#description").text("Description: " + response.articles[count].description);
                $("#content").text("Content: " + response.articles[count].content);
                $("#url").text("For more information: " + response.articles[count].url);
                count = count + 1;
                //window.alert(temp);
            });
        });
    });
</script>

<h3>Select API</h3>
<select name="selectAPI" onchange="location = this.value;">
    <option value="">Select API</option>
    <option value="/Home/API">API Home</option>
    <option value="/Home/WeatherJS">Weather API</option>
    <option value="/Home/FeedJS">Events API</option>
    <option value="/Home/Exchange">ExchangeRate API</option>
</select>